@{
    ViewData["Title"] = "xNoData";
}

<table class="table x-no-data">
    <tr>
        <td style="padding: 0px !important;">
            <div class="row" style="margin: 0px;">
                <div class="col-md-12 col-xs-12" style="border: 1px solid #ccc;">
                    <h5><strong>No records found</strong></h5>
                </div>
            </div>
        </td>
    </tr>
</table>